/* Assign a background color to your body element */
body {
    background-color: beige;
}

/* Assign a font family and color to all <h1> elements */
h1 {
    font-family:'Courier New', Courier, monospace;
    color: #FF4500; 
    text-align: center;
}

/* Assign a font family and color to all <h3> elements */
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #8B4513;
}

/* Assign a font family and color to all <div> elements */
div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #6A5ACD;
}

#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
}

#frmMenu {
    width:600px;
    height:200px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:20px auto;
    float:right;
}

.left {
    width:200px;
    height:200px;
    float:left;
}

.center {
    width:200px;
    height:200px;
    float:left;
}

.right {
    width:200px;
    height:200px;
    float:right;
}


#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:0;margin:0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
    display: block;
    margin:25px auto;
}
